.navbar {
    height: 50px;
    border-bottom: 0.5px solid #e6e3e3;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--font-color);
}
.navbar .container {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .container .searchContainer {
    display: flex;
    align-items: center;
    border: 0.5px solid #e6e3e3;
    padding: 3px;
}
.navbar .container .searchContainer input {
    border: none;
    outline: none;
    background: transparent;
}
.navbar .container .searchContainer input::placeholder {
    color: #999;
    font-size: 0.8rem;
}
.navbar .container .navRightContainer {
    display: flex;
    align-items: center;
}
.navbar .container .navRightContainer .item {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    position: relative;
}
.navbar .container .navRightContainer .item .icon {
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.exitIcon {
    color: var(--font-color);
    cursor: pointer;
}
.navbar .container .navRightContainer .item .darkIcon, .navbar .container .navRightContainer .item .notification-icon {
    cursor: pointer;
}
.navbar .container .navRightContainer .item .profileImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.navbar .container .navRightContainer .item .notificationCounter {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: absolute;
    top: 4px;
    left: 8px;
}

.navLeftContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}
