.home {
    display: flex;
}
.home .homeContainer {
    flex: 6;
}
.home .homeContainer .widgets, .home .homeContainer .charts {
    display: flex;
    padding: 1.2rem;
    gap: 1.2rem;
}
.home .homeContainer .charts {
    flex-direction: column;
    padding: 5px 20px;
}
@media screen and (min-width: 1000px) {
    .home .homeContainer .featured {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   }
    .home .homeContainer .featured .title {
        font-size: 2rem;
        font-weight: bold;
   }
    .home .homeContainer .featured .featuredChart {
        width: 350px;
        height: 350px;
   }
    .home .homeContainer .charts {
        flex-direction: row;
   }
}
